html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.topContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ヘッダー部分 */
.headerPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: grey;
    height: 5vh;
}

/* home: 左/メイン/右パネルを横並びにし、残りの高さを埋める */
.home {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: stretch;
    flex-wrap: wrap; /* フレックスアイテムを折り返す */
}

/* 左パネル：LeftPanel */
.leftPanel {
    background-color: #ccffcc; /* 薄い黄緑 */
}

/* 右パネル：RightPanel */
.rightPanel {
    background-color: #add8e6; /* 薄い水色 */
}

/* メインパネル：MainPanel */
.mainPanel {
    background-color: #ffffe0; /* 薄い黄色 */
}

/* レスポンシブデザインのためのメディアクエリ */
@media (max-width: 768px) {
    .home {
        flex-direction: row;
    }

    .mainPanel {
        order: 1; /* 最初に表示 */
        flex: 1 100%; /* 横幅を100%に設定 */
    }

    .leftPanel, .rightPanel {
        order: 1; /* 次に表示 */
        flex: 1 50%; /* 横幅を50%に設定 */
    }
}